<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= __('MEETING_ROOM') %>
  </title>
  <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <meta name='viewport' , content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' />
</head>

<body>
  <header class="toolbar js-toolbar">
    <button class="toolbarButton js-toggle-chat">
      <%= __('CHAT') %>
    </button>
  </header>

  <div class="pages">
    <section class="chat page js-page js-chat">
      <div class="chatArea">
        <ul class="messages js-messages"></ul>
      </div>
      <input class="inputMessage js-inputMessage" placeholder="..." />
    </section>

    <section class="login page js-page js-login">
      <form class="loginForm js-form">
        <p>
          <label for="username" class="title">
            <%= __('WHAT_S_YOUR_NAME') %>
          </label>

          <input id="username" class="usernameInput js-usernameInput" type="text" maxlength="14" required/>
        </p>

        <p>
          <label for="password" class="title">
            <%= __('PASSWORD') %>
          </label>
          <input id="password" class="usernameInput js-passwordInput" type="password" />
        </p>

        <p class="center">
          <button class="submit">
            <%= __('ENTER') %>
          </button>
        </p>

      </form>
    </section>
  </div>

  <main id="videoContainer" class="main">
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </main>

  <main id="adminTools" class="main adminView">
    <div class="content"></div>
  </main>

  <script src="js/video.js@6.2.8-video.min.js"></script>
  <script src="js/videojs-contrib-hls@5.12.1-videojs-contrib-hls.min.js"></script>

  <script src="js/jquery-1.10.2.min.js"></script>
  <!-- based on socket io chat by Grant Timmerman -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
</body>

</html>
